 #header { 
     height:150px;
     background:#1E90FF; 
     width:1200px;
     margin:0 auto;
    
 }
 
.form { 
     float:right;
     margin-top:20px;
     margin-right:20px;
}

#logo { 
    padding-top:35px;
    padding-left:100px;
    font-family:Open Sans;
    font-size:35px;
    color:yellow;
}

#city {
    font-family:Open Sans;
    margin-left:80px;
    font-size:17px;
    color:blue;
}


#home { 
    height:1170px;
    width:1200px;
    background:#f2f2f2;
    margin:0 auto;
}

#hourly  { 
    background-color:#ffffff;
    margin-left:5px;
    float:left;
    width:915px;
    margin-top:5px;
    text-align:center;
    font-family:Open Sans;
    font-size:13px;
    border-collapse: collapse;
    height:255px;
}
    
#dayly  {
    margin-top:15px;
    margin-left:15px;
    float:left;
    width:1170px;
    background-color:#ffffff;
    text-align:center;
    font-family:Open Sans;
    font-size:18px;
    border-collapse: collapse;
    height:255px;
}

#dayly img {
    width:75%;
}  

#table_header {
    font-size:12px;
    height:30px;
    border-bottom: 5px Solid #f2f2f2;
}

#dayly tr {
    padding:3px;
    border-bottom: 3px Solid #f2f2f2;
    
}

.weather_image {
    width:20%;
    float:left;
}
.hourly_col_1 {
    width:20px;
}
.hourly_col_2 {
    width:23px;
}
.hourly_col_3 {
    width:20px;
}
.hourly_col_4 {
    width:60px;
}
.hourly_col_5 {
    width:25px;
}
.hourly_col_6 {
    width:15px;
}
.hourly_col_7 {
    width:15px;
}

aside {
    background-color:#ffffff;
    float:right;
    margin-right:7px;
    margin-top:5px;
    font-family:Open Sans;
    font-size:12px;
    width:270px;
    height:369px;
}

aside h4 {
    text-align:center;
}
li{
    padding:10px;
}

.max_ol{
    width:270px;
    font-size:12px;
    font-family:Open Sans;
}
.max_red{
    color:red;
}
.max_blue{
    color:blue;
}

.temp {
    font-size:30px;
}
           
