 #header { height:150px;
           background: #222 url(/image/light_texture2224.jpg);
 }
 
.form { float:right;
        margin-top:20px;
}

#submit { margin-right:20px;
}

#logo { padding-top: 45px;
        padding-left:150px;
        font-family: Arial;
        font-size: 45px;
        color: yellow;
}

#home { height: 1800px;
        background: #222 url(/image/background-gray-abstract-bright-2880x1800.jpg);
}

#home h1{ padding-top: 100px;
          padding-left: 100px;
          font-family: Arial;
          font-size: 20px;
}

.max, .min { background-color: #DCDCDC;
             width: 350px;
             float: right;
             margin-right: 20px;
}

.min { margin-top: 170px;

    
}